html {
    scroll-behavior: smooth;
}


header {
    background-color: #D53032;
    color: white;
    padding: 20px;
    text-align: center;
}


body {
    font-family: Arial ;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    background-color: white;
    color: black;
}

main {
    padding: 20px;
}

.image-style {
    display: block;
    margin: 10px auto;
    border: 3px solid #ddd;
}

a {
    color: #D53032;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

ul, ol {
    margin: 10px 0;
    padding-left: 20px;
}

footer {
    background-color: #D53032;
    color: white;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
}


/* Стиль для меню навигации */
nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

/* Стиль для элементов списка только в навигации */
nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

/* Эффект при наведении */
nav ul li a:hover {
    background-color: #7F180D;
}
