header {
    background-color: #EF4444;
    padding: 10px 20px;
}

.header_wrapper {
    display: block;
    position: fixed;
    height: 100px;
    width: 100%;
    z-index: 10;
}

.navbar {
    position: relative;
    box-sizing: border-box;
    padding: 10px 0;
}

.nav_left {
    position: absolute;
    top: 50%;
    left: 15%;
    transition: color 0.3s ease;

}

.nav_right {
    position: absolute;
    top: 50%;
    right: 15%;
    transition: color 0.3s ease;

}

.logo {
    display: block;
    text-align: center;
}

.logo > img {
    width: 100px;
    border: #fff 1px solid;
    border-radius: 100px;
}

.nav_link {
    display: inline-block;
    margin: 0 30px;
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
}
.nav-menu li {
    display: inline-block;
}

.nav_left a:hover {
    background-color: #3B82F6;
    color: #fff;
    border-radius: 5px;
}

.nav_right a:hover {
    background-color: #3B82F6;
    color: #fff;
    border-radius: 5px;
}


.gradient-hover {
    transition: box-shadow 0.3s ease;
    
}

.gradient-hover:hover {
    box-shadow: 0 0 15px 5px rgb(30,58,138, 0.7),
                0 0 30px 10px rgb(255,255,255, 0.7);
}