html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    color: black;
    cursor: url('00dviz.png'), auto;

    /* min-height: 100vh; Высота на весь экран */
    box-shadow: inset 0 0 100px 50px rgb(29,45,80, 0.4);
    background: #ff4d4d; /* Цвет фона страницы */
}

body:before {
  right: 100%;
  box-shadow: inset -55px 0 55px -55px rgba(0,2,3,.15);
}
body:after {
  left: 100%;
  box-shadow: inset 55px 0 55px -55px rgba(0,2,3,.15);
}


section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 110vh;
    border: 5px solid rgb(30,58,138, 0.5);
    border-radius: 20px;
    text-align: center;
    padding: 20px;
    margin-left: 300px;
    margin-right: 300px;
    margin-bottom: 50px;
    background-color: #F9F9F9;
    position: relative;
    overflow: hidden;
    animation: fadeInUp 1s ease forwards;
}



#description {
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: #EF4444 #1E3A8A;
    
}

/* ! Секция Галерея */

.gallery-section {
    padding: 40px 20px;
    background-color: #f9f9f9;
    text-align: center;
}

.gallery-section h2 {
    font-size: 32px;
    color: #333;
    margin-bottom: 20px;
}

.gallery-container {
    display: grid; /* Включаем grid */
    grid-template-columns: repeat(3, 1fr); /* Три колонки равной ширины */
    gap: 20px; /* Отступы между элементами */
    max-width: 1200px; /* Максимальная ширина контейнера */
    margin: 0 auto; /* Центрирование контейнера */
    background-color: #f0f0f0; /* Для наглядности */
    padding: 20px; /* Внутренний отступ */
  }

  .gallery-item {
    background-color: #ff4d4d; /* Цвет блоков для теста */
    color: white;
    font-size: 20px;
    text-align: center;
    line-height: 100px; /* Вертикальное выравнивание текста */
    height: 100px; /* Высота блоков */
    border-radius: 10px; /* Скругление углов */
  }
  
.gallery-item img {
    width: 100%; /* Заполнение по ширине */
    height: 100%; /* Заполнение по высоте */
    object-fit: cover; /* Обрезка и сохранение пропорций */
    display: block; /* Убираем лишние отступы */
}